*{
    margin: 0;
    padding:0;
}


#container {
    width:100%;
    background-color: rgb(231, 231, 231);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  }
  #navbar {
    display: flex;
    width: 100%;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    background-color: white;
    position: fixed;
    top:0px;
    z-index: 90;
    
  }
  .left {
    width: 15%;
    text-align: left;
    margin-left: 250px;
    margin-bottom: 5px;
  }
  .right {
    width: 80%;
    margin-left: 0px;
    text-align: center;
    margin-right: 250px;
  }

  #logo {
    height: 100%;
    width: 80%;
  }
  ul {
    list-style-type: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

  li {
    float: left;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: rgb(82, 82, 82);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px -1px;
    margin-right: 30px;
    width:90%;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
  }

  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;

  }

  li.dropdown {
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 90;
    height: auto;
    margin-top: -3px;
    align-items: center;
  }

  .dropdown-content a {
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(82, 82, 82);
  }
  .dropbtn {
    margin-top: -1px;
    height: 38px;
    padding-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropbtn:hover {
    background-color: #f1f1f1;
    text-decoration: underline 4px solid rgb(62, 62, 255);
    color: rgb(62, 62, 255);
  }
  .badge {
    position: absolute;
    font-size: 16px;
    width: 20px;
    padding: 0px 0px 0px 2px;
    border-radius: 50%;
    background: red;
    color: white;
  }


